@media (min-width: 0px) and (max-width: 992px) {
    .container1{ 
    display: flex;
    flex-direction: column;
    
    }
      
   }
   .container1{
    margin-bottom: 3rem;
    margin: 1rem;
   }